body{
  box-sizing: border-box;

  font-family: Calibri;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
}

.main{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 6px;
  margin: 0 auto;
  max-width: 650px;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
}

.left__col {
  max-width: 296px;
  padding: 10px 0 10px 14px; 
}

.left__col-wrapper{
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  min-width: 296px;
}

.container {
  max-width: 260px;
  margin: 0 auto;
}
.header{
  display: flex;

}
.header__avatar{
  width: 110px;
  height: 117px;

  padding-top: 10px;
}
.avatar__item{
  border-radius: 93px;
  width: 110px;
  height: 117px;
}

.header__text{
    padding:15px 0 0 22px;
}

.header__name{
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #CECACA;
}

.header__title{
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  margin: 0;
  color: #FFFFFF;    
}

.header__prof{
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  margin: 0;
  color: #CECACA;
}
.user__info-wrapper{
  padding-top: 20px;
}

.user__info{
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}

.info-small{
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.small-loc{
  margin-bottom: 13px;
}
.info-small a {
  text-decoration: none;
  color: #FFFFFF;
}
.user__info-location{
  color: #FFFFFF;
}
.user__svg{
  padding: 11px 32.2px 11px 17px;
}

.user__svg-phone{
  padding: 10px 32px 10px 18px;
}
.user__svg-site{
  padding: 7px 31px 7px 15.2px;
}
.user__svg-loc{
  padding: 9px 35px 9px 20px;
}

.info__lang{
 display: flex;
 align-items: center;
}

.info__text{
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;  
  color: #FFFFFF;
}

.lang-info{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  
  color: #FAFAFA;
}

.lang-ru{
   padding-right: 23px;
}
.lang-en{
  padding-right: 8px ;
}

.info__lang svg{
  margin-right: 4px;
  padding-top: 2px;
}

.user__info-big-wrapper{
  padding: 6px 0 13px 21px;
}

/*Right column start*/
.right__col{
  max-width: 321px;
  padding: 10px 13px 10px 0;
}
.right__col-wrapper{
    background: #FFFFFF;
    border-radius: 10px;
}

.container__right{
  max-width: 294px;
  margin: 0 auto;
}

.about__user{
  display: flex;
  align-items: center;
  padding-top: 19px;
}

.about__user_block{
  width: 154px;
  height: 24px;

  background: #545454;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.about__user-line{
  width: 141px ;
  height: 1px;
  background: #545454;
}

.about__user-text{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  color:  #FFFFFF;
  text-transform: uppercase;
  padding: 3px;
  margin: 0 auto;
}

.about__user-info-text{
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.about__person-info-text{
  margin: 0px;
}

.person__title{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #343434;
  margin: 0;
  padding-top: 12px;
}

.user__block{
  padding-top: 12px;
}

.person__code-ex{
  margin: 0;
}